# Enable URL rewriting
RewriteEngine On
# Define the base URL (adjust this to match your project's base URL)
RewriteBase /SERVICESTUDENT-api/
# Redirect requests to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
